{% extends 'base.html.twig' %}

{% block body %}

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <h1> Terre Natale </h1>
        </br>
        <p>Voici les dernières nouvelles du site :</p>
        <lu>
            <li>- Rien...</li>
            <li>- Rien...</li>
            <li>- Et encore un peu de rien.</li>
        </lu>
        </br>
        <p>Le site est toujours en développement aussi de nouvelles fonctionnalités peuvent survenir très prochainement
            !</p>
    {% else %}
        <h1> Terre Natale </h1>
        </br>
        <p>Ce site est destiné au jeu de rôle "Terre Natale" ainsi qu'à des outils destinés à la pratique du jeu de
            rôle.</p>
        <p>Voici une liste exhaustive de ce que vous pourrez trouver ici :</p>
        <lu>
            <li>Les règles de "Terre Natale", un jeu de rôle amateur pouvant être pratiqué en stand alone ou via des
                extensions/un univers développés pour elles.
            </li>
            <li>Une description de l'univers de Thalifen se reposant sur les règles de "Terre Natale".</li>
            <li>Des outils orientés "Maitre de Jeu" afin de faciliter ou améliorer votre expérience en la matière.</li>
        </lu>
        </br>
        <p>Merci de vous connecter afin d'avoir accés à l'ensemble des fonctionnalités du site.</p>
    {% endif %}

{% endblock %}