{% extends 'base.html.twig' %}

{% block sub_menu %}

    {% include('universe/_menu.html.twig') %}

{% endblock %}

{% block body %}

    <h1> L'univers de Jeu : Thalifen </h1>
    </br>
    <p>Cette section détails l'univers inspiré des règles de Terre Natale.</p>
    <lu>
        <li>- Générateur de Personnages (tout univers/jeux)</li>
        <li>- Générateur de Personnages issus de Thalifen</li>
        <li>- ?</li>
    </lu>
    </br>
    <p>(Note : Les utilisateurs inscrits comme "Maitre de Jeu" ont accés à des informations sensibles de l'univers alors
        que les utilisateurs classiques non)</p>

{% endblock %}