{% set route = app.request.attributes.get('_route') %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="{{ route starts with 'app_character_config' ? 'active' }}">
                <a href="{{ path('app_character_config') }}">Afficher les Personnages</a>
            </li>
            <li class="{{ route starts with 'app_character_create' ? 'active' }}">
                <a href="{{ path('app_character_create') }}">Créer un Personnage</a>
            </li>
        </ul>
    </div>
</nav>