{% extends 'base.html.twig' %}

{% block sub_menu %}

    {% include('tools/_menu.html.twig') %}

    {% include('tools/character/_menu.html.twig') %}

{% endblock %}

{% block body %}

    <h1> Création de Personnage </h1>
    </br>
    <p>Sélectionnez une fonctionnalité.</p>

{% endblock %}