{% extends 'base.html.twig' %}

{% block sub_menu %}

    {% include('rules/_menu.html.twig') %}

{% endblock %}

{% block body %}

    <h1> Les Règles du Jeu </h1>
    </br>
    <p>Cette section propose les règles du jeu.</p>
    <p>Les règles de Terre Natale peuvent s'avérer assez simple de base et ont été pensées pour satisfaire un maximum
        d'univers de jeu différents.</p>
    <p>Les points forts des règles sont :</p>
    <lu>
        <li>- La notion de confrontation (combats et joutes permettent la résolution des conflits)</li>
        <li>- ?</li>
        <li>- ?</li>
    </lu>
    </br>
    <p>De nombreuses extensions ont cependant été pensées afin d'approfondir certaines règles ou en créer de nouvelles
        (tel que l'ajout de la magie, etc).</p>
    <p>Voici la liste exhaustive des extensions :</p>
    <lu>
        <li>- Les Confrontations (appronfondissement des règles de combat et des joutes)</li>
        <li>- La Magie (ajout de la magie)</li>
        <li>- Le Steam (ajout de la technologie)</li>
        <li>- Les Prouesses (ajout des prouesses)</li>
        <li>- Le Noble Jeu (appronfondissement des règles sociales)</li>
    </lu>
    </br>
    <p>Enfin il existe aussi des extensions particulières dites "univers" qui ne rajoutent pas nécessairement des règles
        mais présente un univers de jeu.</p>
    <p>Voici la liste exhaustive des univers :</p>
    <lu>
        <li>- Thalifen (univers de base)</li>
    </lu>

{% endblock %}