{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Connexion{% endblock %}

{% block body %}
    {% if error %}
        <p class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </p>
    {% endif %}

    <h1> Connexion </h1>

    <form method="post">

        <div class="row">
            <div class="form-group col-xs-4">
                <label class="control-label" for="username">Identifiant</label>
                <input class="form-control" id="username" name="_username" value="{{ username }}">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-4">
                <label class="control-label" for="password">Mot de passe</label>
                <input class="form-control" type="password" id="password" name="_password">
            </div>
        </div>

        <button type="submit" class="btn btn-sm btn-primary">Connexion</button>

    </form>
{% endblock %}